@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$primary: #ED4C5F;
$primary-invert: findColorInvert($primary);
$family-primary: 'Roboto Slab', sans-serif;

@import "~bulma";
